$main-bg: #354052;
$main-text: #AFBACC;

body{
  background-color: $main-bg;
  color: $main-text;
  font-family: Arial;
}


.sidebar{
  padding: 0;
  margin: 0;
  width: 200px;;
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  li{
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    margin: 10px 0px 10px 0px;
    list-style-type: none;
    transition-duration: 0.5s;
    color: $main-text;
    border-left: 3px transparent solid;
    p{
      display: inline-block;
      font-size: 1.5rem;
    }
    i{
      font-size: 1.5rem;
      float: left;
      padding-right: 10px;
    }
  }
  li:hover{
    color: #fff;
  }
  li:first-child{
    border-color:#0DA2FC;
  }
}

.content{
  background-color: #171717;
  top: 0;
  left: 200px;;
  width: calc(100% - 200px;);
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  .screens-carrousel{
    width: 80%;
    margin: auto;
    margin-top: 20vh;
    text-align: center;
    .screen{
      margin: auto;
      display: inline-block;
      background-color: #cccccc;
      background-size: cover;
      border: 1px #000 solid;
      border-radius: 2px;
    }
    .screen.previous{
      display: none;
      width: 20%;
      margin-left: -10%;
    }
    .screen.next{
      display: none;
      width: 20%;
      margin-right: -10%;
    }
  }
}
