$side-bg: #212121;
$side-text: #FFFFFF;
$content-bg: #292F37;
$content-text: #808CA4;
$main-color: #D500F9;
$main-color-dark: #AA00FF;

@font-face {
    font-family: Orbitron;
    src: url('../fonts/Orbitron-Regular.ttf');
}

body{
  background-color: $side-bg;
  color: $side-text;
  font-family: Arial;
  margin: 0;
  padding:0;
  display:flex;
}

.logo{
  font-family: 'Orbitron', sans-serif;
}

.logo-objects{
  margin-top: calc(50vh - 100px);
  position: relative;
}

.square{
  position: absolute;
  border: 1px #AA00FF solid;
  width : 100px;
  height: 100px;
  border-radius : 45px;
}

.l-container{
  color:#D500F9;
  position: absolute;
  width : 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:3rem;
}

.first{
  animation:spin 4s linear infinite;
}
.second{
  animation:spin 3s linear infinite;
}
.third{
  animation:spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.sidebar{
  padding: 0;
  margin: 0;
  width: 200px;
  height: 100vh;
  li{
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    margin: 10px 0px 10px 0px;
    list-style-type: none;
    transition-duration: 0.5s;
    color: $content-text;
    border-left: 3px transparent solid;
    p{
      display: inline-block;
      font-size: 1rem;
    }
    i{
      font-size: 1rem;
      padding-right: 10px;
    }
  }
  li:hover{
    color: #fff;
  }
  li:first-child{
    margin-top: 0;
    p, i{
      font-size: 1.2rem;
    }
  }
  li.active{
    border-color: $main-color;
    color: #fff;
  }
}

.content{
  background-color: $content-bg;
  color: $content-text;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  .screens-carrousel{
    perspective: 25vw;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    .screen{
      //transform: rotateY( 5deg );
      margin: auto;
      display: inline-block;
      background-color: #cccccc;
      background-size: cover;
      border: 2px #1E2124 solid;
      border-radius: 3px;
    }
  }
}

.preview{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .wallpaper-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .wallpaper-info{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 40px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    .title{
      color: #fff;
      font-size: 1rem;
      display: block;
    }
    .author{
      display: block;
      color: #ccc;
      font-size: 0.8rem;
      padding-bottom: 5vh;
    }
    .source-icon{
      width: 1rem;
      height: 1rem;
      opacity: 0.8;
    }
  }

  .add-button{
    z-index: 100;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    padding: 40px;
    font-size: 2rem;
  }

  .description{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    padding: 50px;
    padding-bottom: 20px;

    .description-icon{
      position: fixed;
      bottom: 0;
      right: 0;
      padding: 50px;
      color: #fff;
      font-size: 1.5rem;
    }
    .description-text{
      text-align: right;
      width: 80%;
      border-radius: 3px;
      color: #fff;
      font-size: 0.8rem;
    }
  }
}

.description-icon:hover .description-text{
  opacity: 1.0;
}

.explore{
  display: flex;
  .spinner{
    position: fixed;
    width: 40px;
    height: 40px;
    top: 0;
    left: 200px;
    padding: 10px;
    z-index: 10;
    img{
      width: 100%;
    }
  }
  .explore-wallpapers{
    width: 80vw;
    height: 100vh;
    overflow-y: auto;
    .wallpaper-container{
      float: left;
      width: 20%;
      height: 15vh;
      display: inline-block;
      position: relative;
      .wallpaper{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
      .wallpaper-overlay{
        opacity: 0;
        transition-duration: 0.3s;
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        .fullscreen-icon{
          opacity: 0.6;
          transition-duration: 0.3s;
          width: 100%;
          height: 100%;
          text-align: center;
          padding-top: 6vh;
          font-size: 1.5rem;
          cursor: pointer;
        }
        .fullscreen-icon:hover{
          opacity: 1.0;
        }
        .save-icon{
          opacity: 0.6;
          transition-duration: 0.3s;
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0;
          padding: 10px;
          font-size: 1.2rem;
          cursor: pointer;
        }
        .save-icon:hover{
          opacity: 1.0;
        }
      }
      .wallpaper-overlay:hover{
        opacity: 1.0;
      }
    }
  }
  .explore-menu{
    margin: 0;
    padding: 20px 10px 20px 10px;
    background-color: $side-bg;
    color: $side-text;
    form{
      position: relative;
      input{
        color: $side-text;
        border: 1px $main-color-dark solid;
        padding: 10px;
        border-radius: 3px;
        display: inline-block;
        float: left;
        width: 90%;
        background-color: rgba($main-color, 0.1);
        transition-duration:0.5s;
      }
      input:focus{
        outline: none;
        border: 1px $main-color solid;
      }
      i{
        position: absolute;
        right: 10px;
        padding: 5px;
        font-size: 1.5rem;
      }
    }
    li{
      list-style-type: none;
      width: 100%;
    }
    li.source{
      padding: 10px;
      img{
        display: inline-block;
        margin-right: 10px;
        width: 14px;
        height: 14px;
      }
      p{
        display: inline-block;
        text-align: center;
        font-size: 1.1rem;
      }
    }
  }
}

.placeholder{
  width: 20%;
  height: 15vh;
  background-color: rgba(0,0,0,0.5);
}

.progress-container{
  width: 50%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-bottom: 50px;
  border-radius: 3px;
  overflow: hidden;
  .progress{
    background-color:$main-color;
    height:100%;
    width: 0%;
  }
}

.slideshow{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 20vh;
  .slideshow-item{
    width: 20vw;
    position: relative;
    display: inline-block;
    .source-container{
      height: 15vh;
      position: relative;
      background-color: rgba(0,0,0,0.5);
    }
    .wallpaper-container{
      background-color: rgba(0, 0, 0, 0.5);
      height:calc(20vh - 20px);
      .wallpaper{
        width: 100%;
        height: 100%;
        background-size: cover;
      }
      .wallpaper-overlay{
        opacity: 0;
        transition-duration: 0.3s;
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        .icon{
          opacity: 0.6;
          transition-duration: 0.3s;
          width: 100%;
          height: 100%;
          text-align: center;
          padding-top: 6vh;
          font-size: 1.5rem;
          cursor: pointer;
        }
        .icon:hover{
          opacity: 1.0;
        }
        .remove-icon{
          opacity: 0.6;
          transition-duration: 0.3s;
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0;
          padding: 10px;
          font-size: 1.2rem;
          cursor: pointer;
        }
        .remove-icon:hover{
          opacity: 1.0;
        }
      }
      .wallpaper-overlay:hover{
        opacity: 1.0;
      }
    }
  }
}

.gallery{
  .gallery-wallpapers{
    .wallpaper-container{
      width: 20%;
      height: 15vh;
      display: inline-block;
      position: relative;
      .wallpaper{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
      .wallpaper-overlay{
        opacity: 0;
        transition-duration: 0.3s;
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        .icon{
          opacity: 0.6;
          transition-duration: 0.3s;
          width: 100%;
          height: 100%;
          text-align: center;
          padding-top: 6vh;
          font-size: 1.5rem;
          cursor: pointer;
        }
        .icon:hover{
          opacity: 1.0;
        }
        .remove-icon{
          opacity: 0.6;
          transition-duration: 0.3s;
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0;
          padding: 10px;
          font-size: 1.2rem;
          cursor: pointer;
        }
        .remove-icon:hover{
          opacity: 1.0;
        }
      }
      .wallpaper-overlay:hover{
        opacity: 1.0;
      }
    }
  }
}

.settings{
  padding: 20px;
  h1{
    text-align: left;
    font-size: 1.3rem;
    color:$content-text;
  }
  ul{
    padding: 0;
    li{
      list-style-type: none;
      h1{
        text-align: left;
        font-size: 0.9rem;
        font-weight: bold;
        color: #808CA4;
      }
      p{
        display: inline-block;
        font-size: 0.9rem;
        color: $content-text;
      }
    }
  }
  input{
    font-weight: bold;
    background-color: transparent;
    border: 0;
    color: $content-text;
    max-width: 40px;
  }
}
.assistant{
  text-align: center;
  .logo{
    width: 100px;
    height: 100px;
    margin: auto;
  }
}

button{
  color: $content-text;
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  border: 1px $side-bg solid;
  border-radius: 3px;
  min-width: 100px;
  transition-duration: 0.3s;
  outline: none;
}

button:hover{
  color: #fff;
  border-color: $main-color-dark;
}

button:active{
  color: #fff;
  border-color: $main-color;
}
