@font-face {
    font-family: Orbitron;
    src: url('../fonts/Orbitron-Regular.ttf');
}

body{
  background-color: #2A2E37;
  color: #cccccc;
  font-family: Arial;
  margin: 0;
  padding:0;
  overflow: hidden;
}

body.overlay{
   background: transparent;
   background-repeat: no-repeat;
}

.logo{
  font-family: 'Orbitron', sans-serif;
  .logo-objects{
    margin-top: calc(50vh - 100px);
    position: relative;
  }
  .square{
    position: absolute;
    border: 1px #AA00FF solid;
    width : 100px;
    height: 100px;
    border-radius : 45px;
  }
  .l-container{
    color:#D500F9;
    position: absolute;
    width : 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:3rem;
  }
  .first{
    animation:spin 4s linear infinite;
  }
  .second{
    animation:spin 3s linear infinite;
  }
  .third{
    animation:spin 2s linear infinite;
  }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    50% {
      color:#D500F9;
    }
    75% {
        color:#F781D8;
        
    }
    100% {
      color:#D500F9;
    }
}

header{
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #373E48;
  color: #6A7E90;
  .item{
    -webkit-app-region: no-drag;
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    p{
      margin: 0;
      padding: 5px;
    }
  }
  .item:hover{
    color:#fff;
  }
  .window-nav{
    -webkit-app-region: no-drag;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    .nav-item{
      padding: 5px;
    }
  }
}

.content{
  height: calc(100vh - 50px);
  overflow-y: auto;
}

.gallery{
  .gallery-tools{
    .tool{
      display: inline-block;
      font-size: 1.3rem;
      margin: 10px;
      margin-top: 15px;
      margin-bottom: 0;
      padding: 5px;
      color:#fff;
      width: 24px;
      border: 1px #fff solid;
      border-radius: 5px;
      text-align: center;
    }
    .tool:first-child{
      margin-left: 20px;
    }
  }
  .gallery-item{
    display: inline-block;
    background-color: #000;
    width: 30vh;
    min-width: 150px;
    height: 20vh;
    min-height: 100px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 2px #000 solid;
    border-radius: 3px;
    .item-img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      opacity: 0.7;
      transition-duration: 0.3s;
    }
  }
  .gallery-item:hover{
    .item-img{
      opacity: 1.0;
    }
  }
}

.slideshow{
  text-align: center;
  .slideshow-item{
    display: inline-block;
    background-color: #000;
    width: 30vh;
    min-width: 150px;
    height: 20vh;
    min-height: 100px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 2px #000 solid;
    border-radius: 3px;
    .slideshow-img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      transition-duration: 0.3s;
    }
    .slideshow-img.new{
      opacity: 0!important;
    }
    .slideshow-content{
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 4rem;
      margin-top: 1rem;
      .loading-spinner{
        margin-top:-1rem;
        color:#D500F9;
        animation:bounce 1s linear infinite;
      }
    }
  }
  .slideshow-item:hover{
    .slideshow-img{
      opacity: 0.7;
    }
  }
  .slideshow-item.processing{
    .slideshow-img{
      opacity: 0.4;
    }
  }
}

.settings{
  padding: 20px;
  h1{
    text-align: left;
    font-size: 1.3rem;
    color:#E5E7E7;
  }
  ul{
    padding: 0;
    li{
      list-style-type: none;
      h1{
        text-align: left;
        font-size: 0.9rem;
        font-weight: bold;
        color: #808CA4;
      }
      p{
        display: inline-block;
        font-size: 0.9rem;
        color: #E5E7E7;
      }
    }
  }
  input{
    font-weight: bold;
    background-color: transparent;
    border: 0;
    color: #E5E7E7;
    max-width: 40px;
  }
}
.assistant{
  text-align: center;
  .logo{
    width: 100px;
    height: 100px;
    margin: auto;
  }
}

button{
  color: #E5E7E7;
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  border: 1px #373E48 solid;
  border-radius: 3px;
  min-width: 100px;
  transition-duration: 0.3s;
  outline: none;
}

button:hover{
  color: #fff;
  border-color: #ccc;
}

button:active{
  color: #fff;
  border-color: #ccc;
}
