<div class="assistant" ng-controller="assistantCtrl">
  <div class="assistant-step" ng-show="!step">
    <div class="logo">
      <div class="logo-objects">
        <div class="l-container">S</div>
        <div class="square first"></div>
        <div class="square second"></div>
        <div class="square third"></div>
      </div>
    </div>
    <h1>Let's Begin !</h1>
    <p>We are going to configure Symbiose, it should take around 30 sec</p>
    <button ng-click="step=1">GO</button>
  </div>

  <div class="assistant-step" ng-show="step == 1">
    <h1>Select your wallpapers folder</h1>
    <p>Lorem ipsum</p>
    <input type="text" ng-model="settings.values.local.remotePath" ng-click="settings.settingsFile.select()">
    <p ng-show="settings.settingsFile.exist">
      Un fichier de configuration a été trouvé, vos préférences vont etre syncronisées
    </p>
    <button ng-click="settings.settingsFile.confirm()">Done</button>
  </div>

</div>
