<div class="explore" ng-controller="exploreCtrl">

  <div class="spinner" ng-show="explore.loading">
    <img src="img/spinner.svg" alt="Loading">
  </div>

  <div class="explore-wallpapers">
    <div class="wallpaper-container" ng-repeat="wallpaper in explore.wallpapers track by $index">
      <div class="wallpaper" ng-style="{'background-image': 'url('+wallpaper.localUri+')'}">
      </div>
      <div class="wallpaper-overlay">
        <div class="save-icon" ng-click="settings.saveWallpaper(wallpaper);">
          <i class="mdi mdi-folder-image"></i>
        </div>
        <div class="fullscreen-icon" ng-click="preview.set(wallpaper)">
          <i class="mdi mdi-fullscreen"></i>
        </div>
      </div>
    </div>
  </div>
  <ul class="explore-menu">
    <li>
      <form ng-submit="explore.retreive('search')">
        <input type="text" ng-model="explore.search">
        <i class="mdi mdi-magnify"></i>
      </form>

    </li>
    <li class="source" ng-repeat="(sourceName, source) in sources" ng-class="{'active' : page == source.name}">
      <img ng-src="{{source.icon}}">
      <p>{{source.label}}</p>
      <input type="checkbox" ng-checked="!settings.values.explore.excludedSources[sourceName]" ng-blur="settings.save();">
    </li>
  </ul>

</div>
