<div class="preview">
  <div class="preview-image"
    ng-click="preview.close()"
    ng-style="{'background-image' : 'url('+getLocalUri(preview.wallpaper.localUri)+')'}">
  </div>
  <div class="preview-info">
    <span class="title">{{preview.wallpaper.title}}</span>
    <div class="author" ng-show="preview.wallpaper.author">
      By {{preview.wallpaper.author}}
      <img class="source-icon" ng-src="{{preview.wallpaper.source.icon}}">
    </div>
  </div>
</div>




<!--<div class="add-button" ng-click="settings.saveWallpaper(preview.wallpaper);">
  <i class="mdi mdi-image-area-close"></i>
</div>-->
