<div class="settings">
  <h1 ng-click="settings.save()">Settings</h1>
  <ul>
    <li>
      <h1>Wallpapers</h1>
      <!--<p>Le changement de wallpaper est géré par :</p>
      <br>
      <label><input type="radio" name="managed-by-os" ng-model="settings.values.local.managedByOS" data-ng-value="true" ng-change="settings.save()"> Windows</label>
      <label title="Soon..."><input type="radio" name="managed-by-os" ng-model="settings.values.local.managedByOS" data-ng-value="false" ng-change="settings.save()" disabled> Symbiose</label>
      <br>-->
      <p>Changement toutes les <input type="number" min="1" max="60" ng-model="settings.values.local.slideshow.changeDelay" ng-change="settings.save()"> minutes</p>
    </li>
    <li>
      <input type="checkbox" ng-model="settings.values.local.slideshow.changeOnStartup" ng-change="settings.save()">
      <p>Change on startup</p>
    </li>
  </ul>
</div>
