<div ng-controller="wallpaperCtrl">
  <div class="screens-carrousel">
    <div class="screen" ng-repeat="screen in screens.displays track by $index" ng-attr-id="screen-{{screen.id}}" ng-style="{'background-image':'url('+getLocalUri(settings.values.local.tempDir+'//frame_'+$index+'.jpg')+')', 'width':screen.container.width+'%'}">
      {{screen.size.width}}X{{screen.size.height}}
    </div>
  </div>
  <div class="slideshow" ui-sortable="slideshowOpt" ng-model="settings.values.slideshow.items">
    <div class="slideshow-item" ng-repeat="item in settings.values.slideshow.items track by $index">

      <!-- if wallpaper -->
      <div ng-if="item.localUri" class="wallpaper-container">
        <div class="wallpaper"
          ng-style="{'background-image': 'url('+ getLocalUri(item.localUri)+')'}">
        </div>
      </div>

      <!-- if source -->
      <div ng-if="item.api" class="source-container">
        <span>SOURCE ({{item.label}})</span>
      </div>

      <div class="progress-container">
        <div class="progress"></div>
      </div>
    </div>
  </div>
  <p>Glissez les éléments dans le slideshow</p>
  <div class="gallery">
    <div class="gallery-wallpapers" ng-model="settings.values.gallery.wallpapers">
      <div class="wallpaper-container" ng-repeat="wallpaper in settings.values.gallery.wallpapers track by $index" ng-if="!wallpaper.hidden">
        <div class="wallpaper"
          ng-style="{'background-image': 'url('+ getLocalUri(wallpaper.localUri)+')'}"
          ng-click="preview.set(wallpaper, true)">
        </div>
        <div class="wallpaper-overlay">
          <div class="remove-icon" ng-click="settings.removeWallpaper(wallpaper);">
            <i class="mdi mdi-close"></i>
          </div>
          <div class="icon" ng-click="settings.values.slideshow.items.push(wallpaper)">
            <i class="mdi mdi-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
