<div ng-controller="wallpaperCtrl">
  <div class="screens-carrousel">
    <div class="screen" ng-repeat="screen in screens.displays" ng-attr-id="screen-{{screen.id}}" ng-style="{'background-image':'url('+screen.wallpaper.uri+')', 'width':screen.container.width+'%'}">
      {{screen.size.width}}X{{screen.size.height}}
    </div>
  </div>
  <div class="gallery">
    <div class="gallery-wallpapers">
      <div class="wallpaper-container" ng-repeat="wallpaper in settings.values.gallery.wallpapers track by $index">
        <div class="wallpaper"
          ng-style="{'background-image': 'url('+wallpaper.localUri+')'}"
          ng-click="preview.set(wallpaper)">
        </div>
        <i class="mdi mdi-close" ng-click="settings.removeWallpaper(wallpaper);"></i>
      </div>
    </div>
  </div>
</div>
