<div ng-controller="wallpaperCtrl">
  <div class="screens-carrousel">
    <div class="screen" ng-repeat="screen in screens.displays" ng-attr-id="screen-{{screen.id}}" ng-style="{'background-image':'url('+screen.wallpaper.uri+')', 'width':screen.container.width+'%'}">
      {{screen.size.width}}X{{screen.size.height}}
    </div>
  </div>
  <div class="playlist">
    <ul class="playlist-items" ng-model="settings.values.gallery.wallpapers">
    </ul>
  </div>
  <div class="gallery">
    <div class="gallery-wallpapers">
      <div class="wallpaper-container" ng-repeat="wallpaper in settings.values.gallery.wallpapers track by $index">
        <div class="wallpaper"
          ng-style="{'background-image': 'url('+ getLocalUri(wallpaper.localUri)+')'}"
          ng-click="preview.set(wallpaper, true)">
        </div>
        <div class="wallpaper-overlay">
          <div class="remove-icon" ng-click="settings.removeWallpaper(wallpaper);">
            <i class="mdi mdi-close"></i>
          </div>
          <div class="fullscreen-icon" ng-click="preview.set(wallpaper, true)">
            <i class="mdi mdi-fullscreen"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
